<!--
  Generated template for the AddDetailCar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<ion-title>
			Combustível
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="close()">
                <ion-icon name="close">
                </ion-icon>
            </button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label>Custo total:</ion-label>
		<ion-input></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Preço Litro:</ion-label>
		<ion-input></ion-input>
	</ion-item>
	<ion-list>
		<ion-item>
			<ion-label>Combustível </ion-label>
			<ion-select [(ngModel)]="combustivel">
				<ion-option value="álcool">Álcool</ion-option>
				<ion-option value="gasolina">Gasolina</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<button full ion-button color="primary" (click)="saveConfig()">Salvar</button>
</ion-content>