<!--
  Generated template for the AddConfigPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<ion-title>
			Configurações
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="close()">
                <ion-icon name="close">
                </ion-icon>
            </button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
<ion-item>
		<ion-label>Ativar Localização</ion-label>
		<ion-toggle></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label>Lembrete</ion-label>
		<ion-toggle></ion-toggle>
	</ion-item>
	<ion-item>
		<ion-label>Som</ion-label>
		<ion-toggle></ion-toggle>
	</ion-item>
	<ion-list>
		<ion-item>
			<ion-label>Unidade de Medida: </ion-label>
			<ion-select [(ngModel)]="unidadeDeMedida">
				<ion-option value="L">Litro (L)</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Eficiência Combustível: </ion-label>
			<ion-select [(ngModel)]="eficiencia">
				<ion-option value="L">Km/Litro</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<button full ion-button color="primary" (click)="saveConfig()">Salvar</button>
</ion-content>