<!--
  Generated template for the AddDetailCar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
		<ion-title>
			Histórico
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="close()">
                <ion-icon name="close">
                </ion-icon>
            </button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<!-- <ion-content padding>
	<ion-item-sliding *ngFor="let item of items; let i = index" #slidingItem>
		<ion-label>Custo total:</ion-label>
		<ion-input></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Custo km:</ion-label>
		<ion-input></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Média</ion-label>
		<ion-input></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Litros</ion-label>
		<ion-input></ion-input>
	</ion-item>
	<button full ion-button color="primary" (click)="saveConfig()">Salvar</button>
</ion-content> -->
<ion-content padding>

	 <ion-list>
        <ion-item-sliding *ngFor="let item of items; let i = index" #slidingItem>
            <ion-item (click)="viewItem(item)">
                <ion-icon *ngIf="item.done" color="primary" name="checkmark-circle" item-right>
                </ion-icon>
                <h2>
                    {{item.combustivel}}
                </h2>
            </ion-item>
        </ion-item-sliding>
    </ion-list>


	<!-- <ion-card>
		<ion-card-header>
			<ion-icon *ngIf="done" name="checkbox-outline"></ion-icon>
		</ion-card-header>
		<ion-card-content>
			<p>
				{{combustivel}}
			</p>
			<p>
				{{precoTotal}}
			</p>
			<p>
				{{precoLitro}}
			</p>
		</ion-card-content>
	</ion-card>
	<button full ion-button (click)="back()" color="primary">
    Voltar
    </button> -->
</ion-content>