<ion-header>
	<ion-navbar>
		<ion-title>KmCar</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addConfig()">
        <ion-icon name="settings">

        </ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<br><br><br><br>
		<ion-list>
			<button ion-item (click)="addDetailCar()">
      <ion-icon name="car" item-left></ion-icon>
      Combustível
    </button>
			<button ion-item (click)="addDetailHistoric()">
      <ion-icon name="calculator" item-left></ion-icon>
      Histórico
    </button>
			<button ion-item>
      <ion-icon name="podium" item-left></ion-icon>
      Gráficos
    </button>
			<button ion-item (click)="ngAfterViewInit()">
      <ion-icon name="pin" item-left></ion-icon>
      Postos
    </button>
		</ion-list>
	</ion-card>
</ion-content>