<ion-content padding>
	<ion-slides>
		<ion-slide>
			<h1>Universidade do Planalto Catarinense</h1>
      <h3>Camila Silva da Rocha</h3>
      <h4>KmCar</h4>
		</ion-slide>
		<ion-slide>
			<h3> <p> O aplicativo foi desenvolvido com o proprósito de calcular gastos do combustível de um automóvel, responsável em calcular quanto o usuário gastou e qual a quilometragem média que seu carro faz.</p></h3>
		</ion-slide>
		<ion-slide>
			<ion-buttons>
        <h3><p> - O usuário terá a opção de inserir os dados do seu abastecimento, total abastecido, preço do litro e o tipo do combustível</p></h3>
       <h3> - O usuário poderá visualizar o histórico dos seus abastecimentos. </h3>
       <button ion-button=""  (click)="inicializar()">
         Iniciar aplicativo
       </button>
			</ion-buttons>
		</ion-slide>
	</ion-slides>
